##TODO: Don't use accesstransformers.
public net.minecraft.server.network.ServerLoginPacketListenerImpl$State
public net.minecraft.network.protocol.game.ClientboundCommandsPacket$Entry
public net.minecraft.commands.synchronization.ArgumentTypes$Entry
public net.minecraft.commands.synchronization.ArgumentTypes m_121616_(Lcom/mojang/brigadier/arguments/ArgumentType;)Lnet/minecraft/commands/synchronization/ArgumentTypes$Entry; # get